:root {
  /* primary */
  --bright-blue: hsl(220, 98%, 61%);
  --check-background: linear-gradient(to bottom right, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  /* light theme */
  --light-very-light-gray: hsl(0, 0%, 98%);
  --light-very-light-grayish-blue: hsl(236, 33%, 92%);
  --light-light-grayish-blue: hsl(233, 11%, 84%);
  --light-dark-grayish-blue: hsl(236, 9%, 61%);
  --light-very-dark-grayish-blue: hsl(235, 19%, 35%);
  /* dark theme */
  --dark-very-dark-blue: hsl(235, 21%, 11%);
  --dark-very-dark-desaturated-blue: hsl(235, 24%, 19%);
  --dark-light-grayish-blue: hsl(234, 39%, 85%);
  --dark-light-grayish-blue-hover: hsl(236, 33%, 92%);
  --dark-dark-grayish-blue: hsl(234, 11%, 52%);
  --dark-very-dark-grayish-blue-1: hsl(233, 14%, 35%);
  --dark-very-dark-grayish-blue-2: hsl(237, 14%, 26%);
}

html, body {
  height: 100%;
}

html {
  font-size: 18px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

body::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 35%;
  top: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  color: var(--bright-blue);
}


body, h1, p, ul, input {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, input, input::placeholder {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1rem;
}

.container {
  min-height: 100vh;
  width: 40%;
  min-width: 580px;
  margin: 0 auto;
  margin-top: 8em;
  z-index: 1;
  position: relative;
}

/* sticky footer */
.wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

header {
  padding-block: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

header h1{
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.8rem;
}

.theme-toggle {
  transition: all 0.5s ease;
}

.theme-toggle:hover {
  cursor: pointer;
  transform: scale(1.2);
}

main {
  margin-top: 2em;
}

.list,
.mobile-filter {
  margin-top: 2em;
}

.list,
.input-field,
input[type="text"],
.mobile-filter {
  border-radius: 8px;
}

.list-item {
  padding: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-container {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1em;
}

input[type="text"],
.list-item p {
  padding-top: 6px;
}


input[type="text"]:focus {
  outline: none;
}

input {
  border: none;
}

input[type='checkbox'] {
  appearance: none;
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
}

input[type='checkbox']:checked {
  content: url('./images/icon-check.svg');
  padding: 7px;
  background: var(--check-background);
}

input[type='checkbox']:checked + p {
  text-decoration: line-through;
}

.delete-btn {
  transition: transform 0.5s;
}

.delete-btn:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.list-total,
.mobile-filter {
  padding: 1.5em;
}

.list-total,
.filter ul,
.mobile-filter ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}

.filter ul li,
.mobile-filter ul li {
  cursor: pointer;
}

.filter ul li.selected,
.mobile-filter ul li.selected {
  color: var(--bright-blue);
  font-weight: bold;
}
.mobile-filter {
  display: none;
}

ul, li {
  list-style: none;
  padding: 0;
  font-weight: 700;
}

.mobile-filter {
  margin-top: 2em;
}

.mobile-filter ul {
  justify-content: center;
  gap: 1.5em;
}

.clear-completed {
  cursor: pointer;
}

.drag-n-drop {
  padding-block: 4em;
  text-align: center;
}

footer {
  width: 100%;
  text-align: center;
  padding-block: 2em;
}

/* Theme */

body.light-theme {
  background-color: var(--light-very-light-grayish-blue);
  color: var(--light-dark-grayish-blue);
  &::after{
    background-image: url('./images/bg-desktop-light.jpg');
  }

  input {
    color: hsl(235, 19%, 35%);
  }
  
  input::placeholder {
    color: var(--light-dark-grayish-blue);
  }
  
  .list,
  .mobile-filter {
    box-shadow: 0 4px 20px var(--light-dark-grayish-blue);
  }
  
  .list,
  .input-field,
  input[type="text"],
  .mobile-filter {
    background-color: var(--light-very-light-gray);
  }
  
  .list-item {
    border-bottom: solid 1px var(--light-light-grayish-blue);
    p {
      color: hsl(235, 19%, 35%);
    }
  }
    
  input[type="text"]::placeholder {
    color: var(--light-dark-grayish-blue);
  }
  
  input[type='checkbox'] {
    border: solid 1px var(--light-light-grayish-blue);
  }
  
  input[type='checkbox']:checked + p {
    color: var(--light-light-grayish-blue);
  }
  
  .drag-n-drop {
    color: var(--light-dark-grayish-blue);
  }

  .list-item.placeholder {
    height: 40px;
    margin: 5px 0;
    background-color: var(--light-very-light-grayish-blue);
  }
}

body.dark-theme {
  background-color: var(--dark-very-dark-blue);
  color: var(--dark-dark-grayish-blue);
  &::after{
    background-image: url('./images/bg-desktop-dark.jpg');
  }

  input {
    color: var(--dark-light-grayish-blue);
  }
  
  input::placeholder {
    color: var(--dark-light-grayish-blue);
  }
  
  .list,
  .mobile-filter {
    box-shadow: 0 4px 20px black;
  }
  
  .list,
  .input-field,
  input[type="text"],
  .mobile-filter {
    background-color: var(--dark-very-dark-desaturated-blue);
  }
  
  .list-item {
    border-bottom: solid 1px var(--dark-dark-grayish-blue);
    p {
      color: var(--dark-light-grayish-blue);
    }
  }
    
  input[type="text"]::placeholder {
    color: var(--dark-dark-grayish-blue);
  }
  
  input[type='checkbox'] {
    border: solid 1px var(--light-light-grayish-blue);
  }
  
  input[type='checkbox']:checked + p {
    color: var(--dark-very-dark-grayish-blue-1);
  }
  
  .drag-n-drop {
    color: var(--dark-very-dark-grayish-blue-1);
  }

  .list-item.placeholder {
    height: 40px;
    margin: 5px 0;
    background-color: var(--dark-very-dark-blue);
  }
}

// .list-items .list-item {
//   cursor: grab;
// }

// .list-item.dragging {
//   opacity: 0.5;
//   cursor: grabbing;
// }

.list-item.placeholder {
  animation: placeholderAnimation 0.5s ease forwards;
}

@keyframes placeholderAnimation {
  from {
      opacity: 0;
      height: 0;
  }
  to {
      opacity: 1;
      height: 40px;
  }
}


@media (max-width: 768px) {
  .container {
    width: 75.5%;
    min-width: 435px;
  }

  .filter {
    display: none;
  }

  .mobile-filter {
    display: block;
  }
}

@media (max-width: 480px) {
  .container { 
    width: 90%;
    min-width: 0;
  }
}